<div id="groups">
  <nav>
    <i class="fa-solid fa-bars"></i>
    <h1>TRANSACTIONS</h1>
    <i class="fa-solid fa-magnifying-glass"></i>
  </nav>
  <% @groups.reverse.each do |group| %>
    <%= link_to group do %>
      <%= render group %>
    <% end %>
  <% end %>
  <div class="add-resource-link">
    <%= link_to "Add a new Category", new_group_path %>
  </div>
</div>
