/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gudea', sans-serif;
}

body {
  background-color: #f1f1f1;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #fff;
}

input[type='submit'],
input[type='button'] {
  cursor: pointer;
  background-color: #49a904;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #346fb6;
  color: #fff;
  padding: 30px 15px;
}

nav i {
  font-size: 22px;
  color: #fff;
}

form ul {
  list-style: none;
  margin-bottom: 10px;
}

form ul li {
  margin: 5px 0;
  font-size: 16px;
}

.alert {
  color: red !important;
}

.notice {
  color: green;
}

/* ********************************************************************** */

/* transactions page */

/* ********************************************************************** */

#groups {
  min-height: 100vh;
  padding-bottom: 80px;
}

#groups a {
  text-decoration: none;
}

#groups .group {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #fff;
  margin: 16px;
  padding: 10px;
}

#groups a div div:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  padding-bottom: 5px;
  margin-left: 10px;
  color: #999;
  font-size: 17px;
}

#groups a div div:nth-child(2) span:nth-child(1) {
  padding-top: 22px;
}

#groups .group img {
  width: 90px;
  height: 90px;
}

#groups .total {
  display: inline-block;
  margin-top: 20px;
  color: #3a454a;
  font-weight: bolder;
  font-size: 20px;
}

#groups .add-resource-link {
  background-color: #49a904;
  padding: 12px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

#groups .add-resource-link a {
  color: #fff;
  font-size: 22px;
  display: inline-block;
  border: 1px solid #fff;
  width: 94%;
  padding: 15px 0;
}

/* ********************************************************************** */

/* new group page */

/* ********************************************************************** */
#new-group {
  min-height: 100vh;
}

#new-group form {
  padding: 16px;
  background-color: #fff;
}

/* ********************************************************************** */

/* new entities/transactions page */

/* ********************************************************************** */
#new-entity form {
  padding: 16px;
  background-color: #fff;
}

#new-entity form .checkbox {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-content: start;
}

#new-entity form .checkbox input[type='checkbox'] {
  margin-bottom: 12px;
  margin-top: 1px;
  width: 17px;
  height: 17px;
}

#new-entity form .checkbox label {
  margin-bottom: 12px;
}

/* ********************************************************************** */

/* group/category details page */

/* ********************************************************************** */
#groups hr {
  max-width: 80%;
  margin: 0 auto;
}

#groups .detailed-transaction {
  background-color: #fff;
  margin: 15px;
  display: grid;
  grid-template-columns: 3fr 1.5fr 4fr;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#groups .detailed-transaction .name,
.amount {
  color: #3a454a;
  font-size: 18px;
  font-weight: 700;
}

#groups .detailed-transaction .date {
  color: #999;
  font-size: 15px;
  font-weight: 500;
}

/* ********************************************************************** */

/* sign up and login page */

/* ********************************************************************** */
#sign-up,
#login,
#forgot-password {
  padding: 30px;
}

#sign-up h2,
#login h2,
#forgot-password h2 {
  margin-bottom: 30px;
}

#login .link,
#forgot-password .link,
#sign-up .link,
#splash .link {
  text-decoration: none;
  color: #3a454a;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 6px;
}

#login .remember input {
  width: 25px;
}

/* ********************************************************************** */

/* splash page */

/* ********************************************************************** */
#splash {
  padding: 0 15px;
  text-align: center;
}

#splash h1 {
  margin-top: 40vh;
  margin-bottom: 30vh;
  font-style: italic;
  font-size: 42px;
}

#splash input {
  background-color: #346fb6;
}

#splash .link,
input {
  font-size: 18px;
}
